.addedSuccessfully {
  position: fixed;
  top: 10vh;
  right: 5vw;
  max-width: 300px;
  height: fit-content;
  border-radius: 10px;
  z-index: 15;
  box-sizing: border-box;
}
.added_container {
  display: flex;
  background: #fff;
  padding: 30px 20px 20px 10px;
  position: relative;
  right: 0;
  box-sizing: border-box;
  transition: 0.5s;
  box-shadow: 0 0 5px 0 #000;
  border-radius: 5px;
}
.added_container-anmi {
  right: -50vw;
  transition: 0.5s;
}
.x {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
.added_container > img {
  object-fit: contain;
  width: 100px;
  height: 100px;
  margin-right: 5px;
}
@media (max-width: 375px) {
  .addedSuccessfully {
    max-width: 100%;
    width: 100%;
    right: 0;
  }
}
